<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CamViewer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CamViewer.Settings>
            <setting name="ConfigText" serializeAs="String">
                <value># CONFIGURATION
# Enter up to 6 RTSP URLs below
# Blank lines and lines starting with # are ignored
</value>
            </setting>
        </CamViewer.Settings>
    </userSettings>
</configuration>